.story-menu-modal {
  button {
    // outline: none;
    border: none;
  }

  textarea {
    // background-color: aqua;
    border: none;
    width: 100%;
    height: 80%;
    outline: none;
    font-size: 14px;
  }
}
