.main-view {
  display: grid;
  grid-template-columns: 1fr, rem(319px);
  grid-template-rows: subgrid;
  //   overflow: scroll;

  .cards {
    grid-column: 1/2;
    max-width: rem(468px);
    margin: rem(50px) auto;
    img {
      width: rem(468px);
      height: rem(468px);
      border-radius: rem(5px);
      object-fit: cover;
    }

    .card {
      border-bottom: 1px solid rgba(219, 219, 219, 0.5);

      .card-header {
        align-items: center;
        justify-content: space-between;
        span {
          margin: auto;
          padding-right: em(4px);
        }
        img {
          width: rem(24px);
          height: rem(24px);
          border-radius: 50%;
        }
        button {
          color: black;
          padding: 0;
        }
        .date {
          width: em(10px);
        }
      }

      & {
        font-size: 14px;
      }
      span {
        font-size: 12px;
        font-weight: $font-weight-system-medium;
      }
      .card-comment {
        // .story-txt {
        //   //   background-color: yellow;
        //   //   max-height: rem(54px);
        // }
        button {
          padding-left: 0;
          margin-left: 0;
          color: #737373;
        }
        // input {
        //   border: none;
        //   margin-bottom: rem(15px);
        // }
        // input:focus {
        //   outline: none;
        // }
      }
    }
  }
  .suggested-profiles {
    padding-left: rem(64px);
    margin-top: rem(36px);
    grid-column: 2/3;
  }
}
