.main-view {
  display: grid;
  //   grid-template-rows: subgrid;
  //   grid-template-rows: subgrid;
  //   grid-column: 1/3;

  grid-template-columns: 1fr, rem(319px);
  grid-template-rows: subgrid;

  //   grid-template-columns: 200px, 319px;

  overflow: scroll;

  .card {
    grid-column: 1/2;
    max-width: rem(468px);
    margin: rem(50px) auto;
    img {
      width: rem(468px);
      height: rem(468px);
      border-radius: rem(5px);
    }
    .card-header {
      //   flex-direction: row;

      align-items: center;

      justify-content: space-between;
      span {
        margin: auto;
        padding-right: em(4px);
      }

      img {
        width: rem(24px);
        height: rem(24px);
      }
      button {
        color: black;
        padding: 0;
      }
      .date {
        width: em(10px);
      }
    }
    .card-btn {
      justify-content: space-between;
      align-items: center;
      background-color: $clr-primary-background;

      button {
        margin: 0;
        background-color: $clr-primary-background;
      }

      img {
        max-width: rem(24px);
        max-height: rem(24px);
        background-color: $clr-primary-background;
        // border: 1 solid white;
      }
    }

    .post-btn {
      padding-left: 0;
    }
    .save-btn {
      padding: 0;
    }
  }

  .suggested-profiles {
    padding-left: rem(64px);
    margin-top: rem(36px);
    grid-column: 2/3;
  }
}
