.filter-modal {
  z-index: 1;
  position: absolute;
  width: em(300px);
  height: 100%;
  // z-index: 10;
  border: 1px solid rgba(219, 219, 219, 0.8);
  border-radius: 0 em(5px) em(5px) 0;
  margin-left: 52px;
  background-color: white;
  flex-direction: column;

  h1 {
    font-size: 25px;
    width: 90%;
    margin: 25px auto;
    padding-bottom: 10px;
    font-weight: 500;
  }
}

.search-box {
  margin: 10px auto;
  width: 90%;
  background-color: #efefef;
  border-radius: em(5px);
  height: 5vh;
  display: flex;
  align-items: center;
  form {
    width: 100%;
  }
}
.user-input {
  width: 100%;
  input {
    font-size: 16px;
    margin: auto;
    width: 100%;
    background-color: transparent;
  }
}

.profiles {
  padding-top: 10px;
  margin: 10px;
  border-top: 1px solid rgba(219, 219, 219, 0.8);
  flex: 1;
  // background-color: pink;

  .profile-btn {
    // background-color: yellow;
    width: 100%;
    span {
      font-weight: 500;
    }
  }
}
