.side-bar {
  //   max-width: em(311px);
  //   max-height: em(48px);
  height: 100vh;

  .logo-btn {
    background-color: $clr-primary-background;
    display: flex;
    justify-content: start;
    align-items: center;
    // align-items: center;
    padding: 0;
    width: em(196px);
    // width: 196px;
    height: em(92px);
    padding: 25px 12px 16px 8px;
    margin-bottom: em(19px);
    img {
      //   display: flex;
      //   align-items: center;
      width: em(103px);
      height: rem(29px);
    }
  }

  .nav {
    // background-color: blueviolet;
    // min-height: 79vh;
    flex-grow: 1;
    a {
      min-width: em(196px);
      min-height: em(24px);
      padding: em(12px);
      margin: 8px 0;
      //   background-color: rgba(0, 220, 200, 0.6);
      display: flex;
      align-items: center;

      //   max-width: em(311px);
      //   max-height: em(48px);
      text-decoration: none;
      color: $clr-secondary-btn;
      img {
        margin-right: rem(16px);
        width: em(24px);
        height: em(24px);
        border-radius: 50%;
      }
    }
    a:hover {
      background-color: #f0f2f5;
      //   background-color: $clr-secondary-btn-hover;
      border-radius: em(10px);
    }
    a:focus {
      font-weight: $font-weight-system-bold;
    }
  }

  .menu-btn {
    margin-bottom: em(10px);
    button {
      background-color: $clr-primary-background;
      min-width: em(196px);
      min-height: em(24px);
      padding: em(12px);
      margin: em(8px) 0;

      //   background-color: rgba(0, 220, 200, 0.6);
      display: flex;
      align-items: center;
      color: $clr-secondary-btn;
      img {
        margin-right: rem(16px);
        width: em(24px);
        height: em(24px);
      }
      &:hover {
        background-color: #f0f2f5;
        border-radius: em(10px);
      }
      &:focus {
        font-weight: $font-weight-system-bold;
      }
    }
  }
}
