* {
  box-sizing: border-box;
}

::selection {
  //   background-color: $clr1;
  //   color: $clr6;
}

html {
  font-family: $font-family-system;
  line-height: 1.6;

  //   color: $clr2;
}

body {
  font-size: rem(18px);
  margin: 0;
  overflow-x: hidden;
  width: 100%;

  // overflow-y: scroll;
  // width: 100vw;
  // position: fixed;
  // background-color: green;

  // max-width: 1024px;
  // margin: auto;
  // overflow: auto;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-family: caveat;
//   margin: 0 0 0.6em;
//   line-height: 1;
// }

section,
main,
footer {
  //   padding: 5px;
}

img {
  width: 100%;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  font-weight: 500;
  margin-left: 14px;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
  // opacity: 0.7;
}

button {
  background-color: $clr-primary-background;
}

textarea {
  font-family: $font-family-system;
}

.m0 {
  margin: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.p0 {
  padding: 0;
}

.main-app {
  display: grid;
  grid-template-areas: "sidemenu main";
  @include for-wide-layout {
    grid-template-columns: minmax(auto, $normal-breakpoint);
  }

  .side {
    grid-area: sidemenu;
    @include for-wide-layout {
      width: em(220px);
    }
    padding: 0px 12px 20px 12px;
  }

  .container {
    grid-area: main;
    border-left: em(1px) solid rgb(219, 219, 219);
    width: 100vw;

    // overflow-y: scroll;
  }
}

.profile-pic {
  border-radius: 50%;
}

input {
  text-decoration: none;
  border: none;
  outline: none;
}
