.home-page {
  display: grid;
  grid-template-areas: "sidemenu main";
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;

  @include for-wide-layout {
    grid-template-columns: minmax(auto, $normal-breakpoint);
  }

  .side-nav {
    grid-area: sidemenu;
    @include for-wide-layout {
      width: em(220px);
    }
    padding: 8px 12px 20px 12px;
  }
  .main-view {
    grid-area: main;
    border-left: em(1px) solid rgb(219, 219, 219);
    width: 100vw;
  }
}
