.profile-page {
  //   display: flex;
  //   flex-direction: column;
  margin: 0 104px 30px 104px;
  padding: 30px 20px 0 20px;
  width: em(935px);
  height: em(763px);

  .profile-header {
    // display: grid;
    display: flex;
    justify-content: center;

    .header-profile-img {
      width: em(284px);
      height: em(400px);
      display: flex;
      justify-content: center;
      //   padding-top: em(30px);

      img {
        margin-top: em(25px);
        width: em(140px);
        height: em(140px);
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .header-details {
      display: flex;
      flex-direction: column;
      width: em(500px);
      height: em(400px);

      .profile-btns {
        background-color: rgb(239, 239, 239);
        padding: 0 16px;
        // width: 110px;
        height: 32px;
        color: black;
        border-radius: 8px;
        font-weight: 700;
        font-size: 12px;
      }

      .profile-info {
        color: black;
        margin: em(30px) 0;
        padding-left: 0;
      }

      span {
        font-size: 16px;
        margin: 0 6px 0 0;
        padding: 0;
        font-weight: 600;
      }
    }
  }
  .profile-posts-options {
    border-top: 1px solid rgba(219, 219, 219, 0.5);
    display: flex;
    justify-content: center;

    button {
      display: flex;
      color: rgb(115, 115, 115);
      font-size: 12px;
      padding: 20px 0 0 0px;
      margin: 0 em(50px) em(20px) 0;
      height: em(52px);
      // padding: 0;
    }

    button:focus {
      color: black;
      font-weight: $font-weight-system-medium;
    }

    img {
      width: em(18px);
      height: em(18px);
      margin-right: em(5px);
    }

    button:focus {
      border-top: 1px solid black;
    }
  }
  hr {
    margin: 0;
    padding: 0;
  }

  .profile-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    // background-color: yellow;
    gap: 4px;
    div {
      // background-color: pink;
      // border: 1px solid black;
      width: 335px;
      height: 335px;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      // width: 400px;
      // height: 400px;
    }

    .post {
      position: relative;

      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 0.3 ease;
        background-color: rgba(0, 0, 0, 0.3);
        // justify-content: space-between;
        justify-content: center;

        button {
          height: 100%;
          width: 100%;
          margin: 0;
          padding: 0;
          opacity: 0;
        }

        img {
          width: em(20px);
          height: em(20px);

          // background-color: black;
        }

        span {
          color: white;
          margin: 0 25px 0 5px;
        }
      }
    }

    .post:hover .overlay {
      opacity: 1;
    }
  }
}
